[submodule "DockPanelSuite"]
	path = DockPanelSuite
	url = https://github.com/andanteyk/dockpanelsuite.git
[submodule "SwfExtractor"]
	path = SwfExtractor
	url = https://github.com/CAWAS/SwfExtractor.git
[submodule "Nekoxy"]
	path = Nekoxy
	url = https://github.com/CAWAS/Nekoxy.git
